body{
  font-family: inherit;
  background-image: url('https://lh3.googleusercontent.com/b9GXN3frum-snUXX5wh9TOsmhesOUrMkZZHyori_lfAjgfKg70Wcx5EasMCxC3sYkSwV_Ulc19iLsP4yCrLchoho=s750');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 23px;
}
h1{
  font-size: 36px;
  padding-top: 20px;
}

.container{
  width: 80%;
  margin: auto;
}

#year-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px black;
}

#month-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px black;
}

#day-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px black;
}

#get-name{
  border-radius: 5px;
  color: black;
  background-color: red;
  text-align: center;
  border: solid 2px silver;
  width: 108px;
  height: 32px;
  font-size: 13px;
  box-shadow: 2px 2px black;
}

#result{
  text-align: center;
}

.content{
  background-color: rgba(206, 17, 38, 0.60);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: auto;
  padding-bottom: 20px;
  box-shadow: 2px 2px black;
  border-radius: 0.5%;
}

.research{
  text-decoration: underline;
  color: white;
}

.clear{
  border-radius: 5px;
  color: black;
  background-color: red;
  text-align: center;
  border: solid 1px #black;
  width: 108px;
  height: 32px;
  font-size: 13px;
  box-shadow: 2px 2px black;
}

a:hover{
  color: skyblue;
}
