body{
  font-family: inherit;
  background-image: url('https://lh3.googleusercontent.com/b9GXN3frum-snUXX5wh9TOsmhesOUrMkZZHyori_lfAjgfKg70Wcx5EasMCxC3sYkSwV_Ulc19iLsP4yCrLchoho=s750');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 23px;
}
h1{
  font-size: 36px;
  padding-top: 30px;
}
.container{
  width: 100%;
  margin: auto;
}
#year-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 3px 3px #00000;
}
#month-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 3px 3px #00000;
}
#day-input{
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 3px 3px #00000;
}
#get-name{
  border-radius: 5px;
  color: #00000;
  background-color:red;
  text-align: center;
  border: solid 1px;
  width: 108px;
  height: 32px;
  font-size: 15px;
  box-shadow: 3px 3px #00000;
}
#result{
  text-align: center;
}
.content{
    transform: translate(-40% -40%);
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 10px;
  margin-bottom: auto;
  box-shadow: 3px 3px;
  border-radius: 0.5%;
}
.research{
  text-decoration: underline;
  color: white;
}
.clear{
  border-radius: 5px;
  text-align: left;
  border: solid 1px;
  width: 108px;
  height: 32px;
  font-size: 13px;
}
a:hover{
  color: black;
}
